/* show bg: */
background: #4990E2;
border-radius: 8px;


/* place bg: */
background: #4990E2;
border: 1px solid #4990E2;
border-radius: 8px;


/* This archival docume: */
font-family: HelveticaNeue-Medium;
font-size: 14px;
color: #000000;
letter-spacing: 0;
line-height: 31px;


/* person bg: */
border: 1px solid #F6A623;
border-radius: 8px;


/* person bg: */
background: #F6A623;
border: 1px solid #F6A623;
border-radius: 8px;


/* person bg: */
border: 1px solid #F6A623;
border-radius: 8px;


/* person bg: */
border: 1px solid #F6A623;
border-radius: 8px;


/* 3 people Cliff Dwell: */
font-family: HelveticaNeue-Bold;
font-size: 18px;
color: #000000;
letter-spacing: 0;
line-height: 34px;


/* place bg: */
border: 1px solid #F8E81C;
border-radius: 8px;


/* place bg: */
border: 1px solid #F8E81C;
border-radius: 8px;


/* place bg: */
border: 1px solid #F8E81C;
border-radius: 8px;


/* place bg: */
border: 1px solid #F8E81C;
border-radius: 8px;


/* place bg: */
background: #F8E81C;
border: 1px solid #F8E81C;
border-radius: 8px;


/* 4 places Santa Fe Ta: */
font-family: HelveticaNeue-Bold;
font-size: 18px;
color: #000000;
letter-spacing: 0;
line-height: 34px;


/* Line: */
border: 1px solid #979797;